body {
    display: flex;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    color:#ebebf5;
}

.bg_1 {
    background-image: url('images/aerial_1.jpg');
    position: relative;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 16px 32px;
    background-color: rgba(35,41,95,0.95);
    gap: 16px;
    align-self: stretch;
}

.header h1{
    color: rgb(71, 139, 241);
    margin-right: auto;
}

img { 
    width: 100%;
}

.logo {
    flex-shrink: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 32px;
    font-weight: 300;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:link.menu, a:visited.menu {
    color: rgb(71, 139, 241);
}

a:active.menu, a:hover.menu {
    color: #f1ad47;
}

.main {
    background-color: rgba(35,41,95,0.65);
    box-shadow: 0 0 20px rgba(0,0,0,0.9) inset;
    display: flex;
    padding: 32px;
    max-width: 75%;
    justify-content: center;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a.donate {
   background-color: rgb(33,50,150);
   color: #ebebf5;
   text-align: center;
   border: none;
   padding: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.video {
    max-width: 90%;
}
